{
    "plugins": [
        [
            "transform-react-jsx", {
                "pragma": "Uke.u" // will change the default React.createElement to UkeJs u() generator
            }
        ]
    ]
}